dist: trusty
sudo: required
language: php

php:
  - 7.1.3
  - 7.2
  - nightly

services:
  - postgresql


install:
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest

before_script:
  - psql -c 'create database test;' -U postgres
  - cp .env.travis .env
  - php artisan migrate

script:
  - ./vendor/bin/phpunit
